
      <table class="table">
        <thead>
          <tr>
            {{#if user}}
              <th scope="col" id="">Añadir al pedido</th>
            {{/if}}
            <th scope="col">Codigo Libro</th>
            <th scope="col">ISBN</th>
            <th scope="col">Título del libro</th>
            <th scope="col">Nombre autor</th>
            <th scope="col">Apellido autor</th>
            <th scope="col">Editorial</th>
            <th scope="col">Estado</th>
            
          </tr>
        </thead>
        <tbody>
          {{#if user}}
            {{#each rows}}
            <tr id="libDataRow{{@index}}">
                <td>
                  <img src="/public/img/icon-add.png" role="button" onclick="addToCart($('libDataRow{{@index}}'))">
                </td>
              <th scope="row">{{cod_libro}}</th>
              <td>{{isbn}}</td>
              <td class="font-weight-bold">{{titulo}}</td>
              <td>{{nombre}}</td>
              <td>{{apellido}}</td>
              <td>{{editorial}}</td>
              <td>{{estado}}</td>
            </tr>
            {{else}}
          <tr class="font-weight-bold">No hay resultados</tr>
            {{/each}}
        {{/if}}
        {{#unless user}}
          {{#each rows}}
            <tr id="libDataRow{{@index}}">
              <th scope="row">{{cod_libro}}</th>
              <td>{{isbn}}</td>
              <td class="font-weight-bold">{{titulo}}</td>
              <td>{{nombre}}</td>
              <td>{{apellido}}</td>
              <td>{{editorial}}</td>
              <td>{{estado}}</td>
            </tr>
            {{else}}
          <tr class="font-weight-bold">No hay resultados</tr>
            {{/each}}

        {{/unless}}
            


        </tbody>
      </table>
