
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Codigo Libro</th>
            <th scope="col">ISBN</th>
            <th scope="col">Título del libro</th>
            <th scope="col">Nombre autor</th>
            <th scope="col">Apellido autor</th>
            <th scope="col">Editorial</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#if rows}}
            {{#each rows}}
            <tr>
              <th scope="row">{{cod_libro}}</th>
              <td>{{isbn}}</td>
              <td class="font-weight-bold">{{titulo}}</td>
              <td>{{nombre}}</td>
              <td>{{apellido}}</td>
              <td>{{editorial}}</td>
              <td>{{estado}}</td>
            </tr>
            {{/each}}
          {{else}}
          <tr class="font-weight-bold">No hay resultados</tr>
          {{/if}}
        </tbody>
      </table>
