<div class="container-p4">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo Libro</th>
      <th scope="col">ISBN</th>
      <th scope="col">Título del libro</th>
      <th scope="col">Autor</th>
      <th scope="col">Editorial</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{cod_libro}}</th>
      <td>{{isbn}}</td>
      <td class="font-weight-bold">{{titulo}}</td>
      <td>{{nombre}} {{apellido}}</td>
      <td>{{editorial}}</td>
      <td>{{estado}}</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
</div>
<style>
  .container-p4{
    padding-left: 8rem;
    padding-right: 8rem;
  }
</style>