
<div class="h-100 container-fluid p-4">
    <div class="row w-100 p-4">
        <h1 class="text-allign-middle">Búsqueda de libros</h1>
    </div>
    <div class="row">
        <div class="col col-md-3 justify-content-center">
            <div class="card mx-auto text-center p-4">
                <div class="card-header">
                    <h3>Búsqueda</h3>
                </div>
                <button class="btn dropdown dropdown-toggle btn-primary d-block d-sm-none m-4 p-3" type="button" data-toggle="collapse"
                    href="#LibSearchForm" aria-expanded="false" aria-controls="LibSearchForm" id="collapser"
                    onclick="return toggle_message()">Abrir Búsqueda</button>
                <div id="LibSearchForm" class="collapse dont-collapse-sm">
                    <div class="btn btn-info m-4" onclick="$('#searchQueryForm')[0].reset();">Resetear Búsqueda</div>
                    <form onsubmit="fetchLib()" id = "searchQueryForm">
                        <div class="form-row p-2 needs-validation" novalidate>
                            <label for="codlibro">Código interno</label>
                            <input type="text" id="codlibro" name="codlibro" placeholder="Código interno"
                                class="form-control" value="{{#if datos}}{{{datos.codlibro}}}{{/if}}">
                        </div>
                        <div class="form-row p-2">
                            <label for="isbn">ISBN</label>
                            <input type="text" id="isbn" name="isbn" placeholder="ISBN" class="form-control"
                                value="{{#if datos}}{{{datos.isbn}}}{{/if}}">
                        </div>
                        <div class="form-row p-2">
                            <label for="titulo">Título del libro</label>
                            <input type="text" id="titulo" name="titulo" placeholder="Título" class="form-control"
                                value="{{#if datos}}{{{datos.titulo}}}{{/if}}">
                        </div>
                        <div class="form-row p-2">
                            <label for="autor">Autor</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control"
                                value="{{#if datos}}{{{datos.nombre}}}{{/if}}">
                            <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="form-control"
                                value="{{#if datos}}{{{datos.apellido}}}{{/if}}">
                        </div>
                        <div class="form-row p-2">
                            <label for="editorial">Editorial</label>
                            <input type="text" id="editorial" name="editorial" placeholder="Editorial"
                                class="form-control" value="{{#if datos}}{{{datos.editorial}}}{{/if}}">
                        </div>
                        <div class="form-row p-2">
                            <label for="disponible">Disponibilidad</label>
                            <select class="custom-select mr-sm-2" id="disponible" name="disponible">
                                <option selected>No seleccionar</option>
                                <option value="1" >Disponible</option>
                                <option value="0" >Prestado</option>
                            </select>
                        </div>
                    
                    </form>
                    <div class="form-row p-4">
                        <button class="btn btn-success btn-block" id="search">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xl h-100">
            <div class="table-responsive-sm p-4" id="LibTable">
                {{>list}}
            </div>
        </div>
    </div>

</div>
</div>